<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <title>Exclusive Shop :: [[${page}]]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container-fluid p-5 text-center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Exclusive Shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>

                <form class="d-flex" name="searchForm" th:action="@{/productSearch}" method="post">
                    <input class="form-control me-2" type="search" id="productName" name="productName" placeholder="Products..." aria-label="Search">
                    <button class="btn btn-primary" type="submit" data-toggle="tooltip" title="Search">Search</button>
                </form>
                <button class="btn btn-primary ms-2" type="button" data-toggle="tooltip" title="Cart" onclick="location.href='/cart'"><i class="bi bi-cart"></i></button>
                <form class="d-flex" name="logoutForm" th:action="@{/logout}" method="post">
                    <button class="btn btn-primary ms-2" type="submit" data-toggle="tooltip" title="Logout"><i class="bi bi-power"></i></button>
                </form>
            </div>
        </div>
    </nav>

    <main class="mt-5">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col" th:each="product : ${products}">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal"><span th:text="${#strings.capitalizeWords(product.name)}">Product</span></h4>
                    </div>
                    <div class="card-body">
                        <img class="product-image" th:src="${product.image}"/>
                        <h1 class="card-title pricing-card-title">$<span th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}">Price</span></h1>
                        <form name="productForm" th:action="@{/cart}" method="post">
                            <input type="hidden" id="productId" name="productId" th:value="${product.id}"/>
                            <button type="submit" class="w-100 btn btn-lg btn-outline-primary">Add To Cart</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

</body>
</html>